
body { background-image:none !important; }

.navbar { background-image:none !important; background-color:#e37151; }

.navbar .active a { background-color:#B03E1E !important; }
.navbar a:focus, a:hover { background-color:#B03E1E !important; }

.bs-sidebar a { color:#B03E1E !important; }
.bs-sidebar a:hover { color:white !important; }
