<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{30} [%line] - %msg%n</pattern>
        </encoder>
    </appender>

     <appender name="SAME_LINE" class="ch.qos.logback.core.ConsoleAppender">
       <encoder>
         <pattern>XXXX%msg</pattern>
       </encoder>
     </appender>

    <logger name="SAME_LINE" level="INFO">
        <appender-ref ref="SAME_LINE"/>
    </logger>

    <logger name="org.eclipse" level="DEBUG"/>
    <logger name="com.jediq" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>